In [1]:
import pandas as pd

In [2]:
death_table = pd.read_csv("death.csv")
death_table.iloc[:4,]

   person_id  death_date
0     144964  2010-11-18
1      47287  2010-01-16
2     128284  2010-12-28
3      47064  2010-04-19

In [4]:
# visit_occur = pd.read_csv("last_visit_occurence.csv")
# visit_occur.iloc[:4,]

In [5]:
# death_pid = death_table.person_id.tolist()
# death_dict = dict(zip(death_pid, death_table.death_date.tolist()))
# visit_occur.loc[visit_occur.person_id.isin(death_pid)]
# visit_dict = dict(zip(visit_occur.person_id.tolist(), visit_occur.visit_start.tolist()))

In [6]:
# visit_after_death = []
# death_6m_visit = []
# death_6m_more = []
# from datetime import date
# for p in death_pid:
#     visit_date = visit_dict[p]
#     visit_date = str(visit_date)
#     d0 = date(int(visit_date[:4]),int(visit_date[4:6]),int(visit_date[6:]))
#     d1s = death_dict[p].split("-")
#     d1 = date(int(d1s[0]), int(d1s[1]), int(d1s[2]))
#     delta = (d1 - d0).days
#     print(delta)
#     if delta < 0:
#         visit_after_death.append(p)
#     elif delta <= 180:
#         death_6m_visit.append(p)
#     else:
#         death_6m_more.append(p)

In [3]:
len(set(death_table.person_id.tolist()))

1096

In [4]:
condition_table = pd.read_csv("processed_condition_occurrence2.csv")
condition_table.iloc[:4,:]

,Unnamed: 0,cond_0,cond_22274,cond_22281,cond_22288,cond_22350,cond_22426,cond_22492,cond_22665,cond_22666,...,cond_45757682,cond_45767018,cond_45769152,cond_45769438,cond_45769441,cond_45769442,cond_45769443,cond_45769863,cond_45772779,cond_45773005
0,6,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
condition_ids = condition_table.iloc[:,0].tolist()
len(condition_ids)

63212

In [6]:
tbl789_ids = list(map(int,pd.read_csv("tian_id.csv").iloc[0,:].tolist()))

In [7]:
len(tbl789_ids)

50603

In [8]:
tbl456_ids = pd.read_csv("person_id_from_tb456.csv").person_id.tolist()
len(tbl456_ids)

38881

In [9]:
import numpy as np
ids = np.intersect1d(tbl456_ids,condition_ids)

In [10]:
ids = np.intersect1d(ids, tbl789_ids)

In [11]:
len(ids)

12910

In [12]:
death_ids = death_table.person_id.tolist()

In [13]:
negative_pool = [i for i in ids if i not in death_ids]

In [14]:
len(negative_pool)

12759

In [15]:
len(death_ids)

1096

In [16]:
import random

In [19]:
random.seed(2019)
sampled_negatives = random.sample(negative_pool, 1096*4)

In [20]:
len(sampled_negatives)

4384

In [28]:
sampled_person_ids = sampled_negatives + death_ids

In [29]:
print(sampled_person_ids[:10])

[30419, 47179, 96591, 31580, 47873, 125634, 48638, 124708, 61425, 146847]

In [30]:
random.shuffle(sampled_person_ids)

In [31]:
print(sampled_person_ids[:10])

[119794, 48449, 133649, 128744, 81971, 25903, 114252, 147364, 36700, 50834]

In [32]:
df = pd.DataFrame({"person_id":sampled_person_ids}, index=range(len(sampled_person_ids)))
df.to_csv("sampled_person_ids.csv", index=False)